.header {
    color: #fafbfd;
    font-size: 40px;
    font-style: italic;
    position:absolute;
    text-decoration: underline;
    text-align: center;
    z-index: 3;
}
.bimage {
    position: absolute;
    right: -90px;
    width: 640px;
    height: 270px;
    z-index: 1;
}
.no-gutters {
    margin-right: 0px;
    margin-left: 0px;
  }
  .card {
    position: relative;  
    border: solid;
    border-style: ridge;
    border-color:whitesmoke
  }
  .maxw {
      max-width: 18rem;
      z-index: 2;
      position: absolute;
      bottom: -210px;

  }
 